kube-prometheus-stack:
  fullnameOverride: prometheus-stack

  crds:
    enabled: false
    # issue with argoCD sync with long annotations -> set 'true' first times
    # manual sync UI selecting only out-of-sync resources
    # set false

  alertmanager:
    fullnameOverride: alertmanager

  grafana:
    fullnameOverride: grafana
    defaultDashboardsTimezone: browser
    admin:
      existingSecret: grafana-credentials
      userKey: admin-user
      passwordKey: admin-password
    persistence:
      enabled: true
      storageClassName: longhorn
      size: 1Gi
    sidecar:
      dashboards:
        provider:
          allowUiUpdates: true
      datasources:
        exemplarTraceIdDestinations:
          datasourceUid: tempo
          traceIdLabelName: traceID

  kubeControllerManager:
    enabled: false

  kubeDns:
    enabled: false

  kubeEtcd:
    enabled: false

  kubeScheduler:
    enabled: false

  kubeProxy:
    enabled: false

  prometheusOperator:
    fullnameOverride: prometheus-operator

  prometheus:
    prometheusSpec:
      replicas: 1
      replicaExternalLabelName: 'replica'
      scrapeInterval: 60s
      evaluationInterval: 60s
      retention: 30d
      enableFeatures:
        - exemplar-storage
      exemplars:
        maxSize: 1000000
      # query:
      #   lookbackDelta: 7d
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ['ReadWriteOnce']
            resources:
              requests:
                storage: 30Gi
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorSelectorNilUsesHelmValues: false
      podMonitorSelectorNilUsesHelmValues: false
      probeSelectorNilUsesHelmValues: false
      enableRemoteWriteReceiver: true
