NODE_ENV=development

MONGO_URI=mongodb+srv://<username>:<password>@<address>/<dbname>?retryWrites=true&w=majority&authSource=admin
AUTH_JWTSECRET=very-seret-tex

# -------------------------------
# Below env are used for scripts
# -------------------------------
DEV_MONGO_URI = mongodb+srv://<username>:<password>@<address>/<dbname>?retryWrites=true&w=majority&authSource=admin
PROD_MONGO_URI = mongodb+srv://<username>:<password>@<address>/<dbname>?retryWrites=true&w=majority&authSource=admin
