NODE_ENV=development

MONGO_URI=mongodb+srv://<username>:<password>@<address>/<dbname>?retryWrites=true&w=majority&authSource=admin
AUTH_JWT_SECRET=very-seret-tex
STORAGE_ACCESS_KEY=username
STORAGE_SECRET_KEY=password

# -------------------------------
# Below env are used for scripts
# -------------------------------
TARGET_MONGO_URI=mongodb+srv://<username>:<password>@<address>/<dbname>?retryWrites=true&w=majority&authSource=admin
SOURCE_MONGO_URI=mongodb+srv://<username>:<password>@<address>/<dbname>?retryWrites=true&w=majority&authSource=admin
