export { <%= singlePascal %> } from './<%= singleKebab %>.schema'
export { <%= singlePascal %>Module } from './<%= singleKebab %>.module'
export { <%= singlePascal %>Service } from './<%= singleKebab %>.service'
