apiVersion: v2
name: redis
description: A Helm chart for Kubernetes
type: application
version: 0.0.1

dependencies:
  - name: redis
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 20.13.4
