import { ApiProperty } from '@nestjs/swagger'
import { IsNotEmpty, IsString } from 'class-validator'

export class Create<%= singlePascal %>RequestDto {
  @ApiProperty({
    example: 'sometext',
  })
  @IsString()
  @IsNotEmpty()
  name: string
}
