import { ApiProperty } from '@nestjs/swagger'
import { Expose } from 'class-transformer'
import { IsNotEmpty, IsString } from 'class-validator'

import { BaseResourceResponseDto } from 'src/clients/mongo'

export class <%= singlePascal %>ResponseDto extends BaseResourceResponseDto {
  @Expose()
  @ApiProperty({
    example: 'sometext',
  })
  @IsString()
  @IsNotEmpty()
  name: string
}
