name: hcdc-web-app

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - develop
    paths:
      - 'libs/common/**'
      - 'libs/hcdc/**'
      - 'apps/hcdc-web-app/**'

jobs:
  j1:
    uses: ./.github/workflows/docker-publish.yaml
    with:
      dockerfile-path: ./k8s/apps/hcdc-web-app/Dockerfile
      docker-image-name: diut-hcdc-web-app
    secrets: inherit

  j2:
    needs: j1
    uses: ./.github/workflows/helm-update.yaml
    with:
      values-path: ${{ github.ref_name == 'main' && './k8s/apps/hcdc-web-app/helm-chart/values.yaml' || './k8s/apps/hcdc-web-app/helm-chart/values-dev.yaml' }}
      identity: hcdc-web-app
    secrets: inherit
