name: Lint
on: push

jobs:
  oneshot:
    runs-on: ubuntu-24.04
    steps:
      - name: Get code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.5

      - name: Install dependencies
        run: PUPPETEER_SKIP_DOWNLOAD=true && bun install --frozen-lockfile

      - name: Build libs
        run: bun run build-libs

      - name: Lint all
        run: bun run lint
